doctype html
html
	head
		include includes/_head.pug
		title DiscordMarket

	body
		section.material-half-bg
			.cover
				
		section.lockscreen-content

			.lock-box

				p.text-center Quelque chose s'est mal passé... Vous devez être perdu! Veuillez réessayer d'ouvrir le lien de la facture si cela ne fonctionne pas veuillez contacter un administrateur! Si l'administrateur ne peut rien faire veuillez rapporter le bug ici: https://github.com/Androz2091/paypal-bot/issues

		include includes/_javascript.pug
