doctype html
html
	head
		include includes/_head.pug
		title DiscordMarket

	body
		section.material-half-bg
			.cover
				
		section.lockscreen-content

			.lock-box

				p.text-center Quelque chose s'est mal passé... Vous devez être perdu! Veuillez réessayer d'ouvrir le lien de la facture et si cela ne fonctionne pas veuillez contacter un administrateur!

		include includes/_javascript.pug
