doctype html
html
	head
		include includes/_head.pug
		title DiscordMarket

	body
		section.material-half-bg
			.cover
				
		section.lockscreen-content

			.lock-box

				p.text-center Que fais-tu ici? Tu ne devrais pas être ici ce n'est pas un simple site!

		include includes/_javascript.pug
